.App {
  text-align: center;
}

/*sidenav{
  float: left;
  left: 25%;
  background-color: bisque;
  width: 20%;
  padding-bottom: 20%;

}*/

.para{
  padding: 55px;
  background-color: aqua;
  padding-bottom: 23%;
}